.wrapper {
	border-left: none;
	border-right: none;
	box-sizing: border-box;
	border-radius: 12px;
	margin-top: 44px;
	width: 100vw;
}
@media (min-width: 600px) {
	.wrapper {
		border: 1px solid #e0e0e0;
		max-width: 846px;
	}
}
@media (prefers-color-scheme: dark) {
	.wrapper {
		border-color: #828282;
	}
}
